@{
    ViewBag.TituloPagina = "Permissão de acesso";
    ViewBag.DescricaoPagina = "Manutenção de regras de permissões utilizadas pela aplicação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- modal placeholder-->
<div id='myModal' class='modal fade' role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<div class="box">

    <div class="box-body table-responsive no-padding" id="replacetarget">
        @{ Html.RenderAction("List", "PermissaoAcesso"); }
    </div>
</div>



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}






